/* TODO Add site wide styles */
* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

p, div {
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: slategray;
  color: white;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

body {
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
}

#modal-content {
  border-radius: 10px;
  border: 3px solid black;
}

.pinkButton {
  background-color: #FF5A5F;
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 2px black;
  height: 30px;
}

#pinkButton {
  background-color: #FF5A5F;
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 2px black;
  height: 30px;
}
