.spotCardsContainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.spotCardsContainer > div {
  margin: 10px;
}

.currentSpotsContainer {
  justify-content: flex-start;
}

.headingContainer {
  margin: 11px;
}

h2 {
  margin-bottom: 12px;
}
